@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Dancing Script', cursive;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {

}


/* FONTS */

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}
h1::first-line {
    text-shadow: 1px 1px 3px black;
}
.subtitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
}

body,
input,
select {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

input,
select,
label,
.converted-price,
.currency-symbol,
span {
    font-size: 2.5rem;
}

button {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}


/* SPACING & POSITIONING */

body {
    padding: 1rem;
    min-width: 300px;
    width: 100vw;
    height: 100vh;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 0rem 0 2rem;
}
.subtitle {
    z-index: -1;
    position: relative;
    top: -30px;
    padding: 0rem 1rem;
    display: inline-block;
    border-radius: 5px;
    width: auto;
}

form {
    padding: 2rem 1rem;
}

label {
    width: 5rem;
}

#price {
    width: 7rem;
}

button {
    padding: .2rem 1rem;
    margin: 1rem .5rem 0rem;
}


/* COLORS & IMAGES */

body {
    /* background-image: url("https://images.unsplash.com/flagged/photo-1557533046-154fc97b729f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"); */
    /* background-image: url("https://images.unsplash.com/photo-1561571994-3c61c554181a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"); */
    /* background-image: url("https://images.unsplash.com/photo-1553649084-3e42773ff0e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"); */
    background-image: url("https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    color: white;
}

.subtitle {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

form {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 5px;
}

select,
#price,
button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    border: none;
    transition: all .3s ease;
}

#price {
    border-bottom: 1px solid white;
}

select:focus,
#price:focus,
button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

select:hover,
#price:hover,
button:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

button {
    border: 1px solid black;
}
