@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Oswald:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');

/*
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/



/****
***** GENERAL *****
****/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input,
select,
.subtitle,
button {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

input,
select,
span {
    font-size: 2.5rem;
}

body {
    padding: 1rem;
    min-width: 300px;
    width: 100vw;
    height: 100vh;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



/****
***** HEADER *****
****/


header {
    margin-top: auto;
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 4rem;
}
h1::first-line {
    text-shadow: 1px 1px 3px black;
}

.subtitle {
    z-index: -1;
    position: relative;
    top: -30px;
    padding: 0rem 1rem;
    display: inline-block;
    border-radius: 5px;
    width: auto;

    font-size: 2rem;
    text-transform: uppercase;
    color: black;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}



/****
***** FORM *****
****/


form {
    padding: 2rem 1rem;
    margin-bottom: 2rem;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.row + .row {
    margin-top: .5rem;
}

select,
#price,
button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    border: none;
    transition: all .3s ease;
}

select:focus,
#price:focus,
button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

select:hover,
#price:hover,
button:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

select {
    margin-right: .5rem;
}

#price {
    width: 7rem;

    border-bottom: 1px solid white;
}

.equals {
    display: inline-block;
    width: 2rem;
}

.converted-price {
    display: inline-block;
    width: 9rem;
    overflow-x: scroll;
    text-align: left;
}

.converted-price::-webkit-scrollbar {
    height: 3px;
}
.converted-price::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

button {
    padding: .2rem 1rem;
    margin: 1rem .5rem 0rem;
    flex-shrink: 0;

    text-transform: uppercase;
    font-size: 1.5rem;

    border: 1px solid black;
}

.error-message {
    margin: 0 .5rem;

    font-size: 1rem;
    font-weight: 400;
    color: rgb(187, 0, 0);
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}



/****
***** FOOTER *****
****/


footer {
    background: linear-gradient(-45deg, rgb(36, 36, 36), rgb(49, 49, 49));
    margin: 0 -1rem -1rem -1rem;
    margin-top: auto;
    padding: 1rem;
    border-top: 1px solid black;
    width: 100vw;
    color: white;
}

footer span {
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}
