@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Dancing Script', cursive;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

body,
input,
select {
    font-family: 'Open Sans', sans-serif;
}

input,
select,
label,
.converted-price,
.currency-symbol {
    font-size: 1.2rem;
}

button {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}



body {
    padding: 1rem;
    text-align: center;
}

header {
    padding: 1rem 0 2rem;
}

label {
    width: 5rem;
}

#price {
    width: 8rem;
}

button {
    padding: .2rem 1rem;
    margin: 1rem;
}
